<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-signin-client_id"
        content="125024079412-5nm2mggiap97k4rahpc5ngqk0nmguo1i.apps.googleusercontent.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./vuewswyg/vueWysiwyg.css">

    <link rel="stylesheet" href="./css/style.css">
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <title>TinyWP </title>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-info  bg-info py-0 px-0 my-0 mx-0 fixed-top">
            <a class="navbar-brand text-white bg-dark py-2 px-3" href="#" @click="home"> <i class="fas fa-carrot"></i>
                TinyWP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-white" href="#"><i class="far fa-newspaper mr-2"
                                @click="showAll"></i>Timeline</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse float-right"></div>
            <li v-if="islogin" class="navbar-nav mr-4 ">
                <a href="#" @click="formPostShow" class="btn btn-light text-info"><i class="fas fa-edit"></i> Write</a>
            </li>
            <li v-if="islogin" class="navbar-nav mr-4">
                <a href="#" class="text-light"><i class="fas fa-user-circle"></i> halo,{{userName}} </a>
            </li>
            <li v-if="islogin" class="navbar-nav mr-4 ">
                <a href="#" @click="showMyPosts" class="text-light"><i class="fas fa-align-left mr-2 "></i>Blog
                    Posts</a>
            </li>

            <li v-if="islogin" class="navbar-nav mr-4 ">
                <a href="#" @click="logout" class=text-light>logout</a>
            </li>
            <li v-if="islogin==false" class="navbar-nav mr-4 ">
                <a href="#" @click="loginformshow" class="btn btn-light text-info">login</a>
            </li>


        </nav>
        <template>
            <div id="google-signin-button"></div>
        </template>
        <br>
        <br>
        <template v-if="islogin==false">
            <template v-if="registerform">
                <br>
                <br>
                <br>
                <div class="card mx-auto my-auto" style="width:25rem">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h1>Sign Up</h1>
                        <form>
                            {{errorMsg}}
                            <div class="form-group">
                                <label for="emailInput">Name</label>
                                <input type="name" class="form-control" id="nameInput" aria-describedby="nameHelp"
                                    placeholder="Enter name" ref="name" />
                            </div>
                            <div class="form-group">
                                <label for="emailInput">Email address</label>
                                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                                    placeholder="Enter email" ref="email" />
                            </div>

                            <div class="form-group">
                                <label for="passwordInput">Password</label>
                                <input type="password" class="form-control" id="passwordInput"
                                    aria-describedby="password" placeholder="Enter password" ref="password" />
                            </div>
                            <div id="google-signin-button"></div>
                            <button type="submit" class="btn btn-primary btn-block"
                                @click.prevent="register">register</button>
                            <button type="back" class="btn btn-danger btn-block" @click="loginformshow">back</button>


                        </form>
                    </div>
                </div>

            </template>
            <template v-if="loginform">
                <br>
                <br>
                <br>
                <div class="card mx-auto my-auto" style="width:25rem">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <h1>Login</h1>
                        <form>
                            {{errorMsg}}
                            <div class="form-group">
                                <label for="emailInput">Email address</label>
                                <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                                    placeholder="Enter email" ref="email" />
                            </div>

                            <div class="form-group">
                                <label for="passwordInput">Password</label>
                                <input type="password" class="form-control" id="passwordInput"
                                    aria-describedby="password" placeholder="Enter password" ref="password" />
                            </div>
                            <p><small>Dont have account? <a @click="registerformshow" href="#">Sign Up</a></small></p>



                            <button type="submit" class="btn btn-primary btn-block" @click.prevent="login">Log
                                In</button>
                            <button type="back" class="btn btn-danger btn-block">back</button>
                        </form>
                    </div>
                </div>

            </template>
        </template>
        <template v-if="islogin">
            <template v-if="profil">
                <div class="row fixed">
                    <div class="col-3 bg-white">
                        <container>
                            <ul class="text-dark scroll">
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-desktop mr-2 "></i>View Site</a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-chart-bar mr-2"></i></i>chart</a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-history mr-2"></i>Acivity</a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-lightbulb mr-2 "></i>Plan</a>
                                </li>
                                <h6 class="my-1">Manage</h6>

                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="far fa-sticky-note mr-2"></i></i>Site
                                        Pages</a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-align-left mr-2 "></i>Blog Posts </a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="far fa-images mr-2"></i></i></a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-comments mr-2 "></i>comments</a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-plug mr-2 "></i>plugins</a>
                                </li>
                                <li class="row text-dark py-3 py-1">
                                    <a href="#" class="text-dark"><i class="fas fa-cloud-upload-alt mr-2 "></i>cloud</a>
                                </li>
                            </ul>

                        </container>
                    </div>
                    <template v-if="myPosts">
                        <div class="col-9 bg-light flex-wrap ">
                            <br>
                            <div class="col-10 align-center ">
                                <div class="card row  d-flex flex-row bg-light border-light">
                                    <div class="card col-10 my-15">
                                            <table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Created</th>
                                                        <th scope="col">update</th>
                                                        <th scope="col">Action</th>                                                  
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr v v-for="(myArticle) in myArticles">
                                                        <th>{{myArticle.title}}</th>
                                                        <td>{{dateformat(myArticle.created_at)}}</td>
                                                        <td>{{dateformat(myArticle.update_at)}}</td>
                                                        <td><a href="#" class="btn btn-danger" @click="deleteArticle(myArticle)"></a></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                       
                                    </div>
                                    

                            </div>
                        </div>
                    </template>

                    <template v-if="formPost">
                        <div class="col-9 bg-light">
                            <br>
                            <br>
                            <br>
                            <div class="col-10 align-center">
                                <div class="card my-15">
                                    <div class="card-body ">
                                        <form method="POST" @submit.prevent="postArticle">
                                            <input type="text" v-model="title" class="form-control mb-4"
                                                placeholder="text your Title Here" autocomplete="off" autofocus>
                                            <wysiwyg v-model="content" class="mb-4"></wysiwyg>
                                            <div class="d-flex flex-row justify-content-end">
                                                <input type="file" id="file" ref="file" class="form-control-file"
                                                    v-on:change="handleFileUpload">

                                                <button @click="home" class="btn btn-danger mx-2">cancel</button>
                                                <button type="submit" class="btn btn-success ">posting</button></div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template v-if="formUpdate">
                        <div class="col-9 bg-light">
                            <br>
                            <br>
                            <br>
                            <div class="col-10 align-center">
                                <div class="card my-15">
                                    <div class="card-body ">
                                        <form method="POST" v-on:submit.prevent="updatingArticle(id)">
                                            <input type="text" v-model="title" class="form-control mb-4"
                                                placeholder="text your Title Here" autocomplete="off" autofocus>
                                            <wysiwyg v-model="content" class="mb-4"></wysiwyg>
                                            <div class="d-flex flex-row justify-content-end">
                                                <input type="file" id="file" ref="file" class="form-control-file"
                                                    v-on:change="handleFileUpload">
                                                <button @click="home" class="btn btn-danger mx-2">cancel</button>
                                                <button type="submit" class="btn btn-success">update</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </template>

        </template>
        <!---show one data-->
        <template v-if="showOne">
            <container>
                <div class="row">
                    <div class="col-8 mx-auto mb-30" style="width:40rem;">
                        <div class="card ">
                            <div class="card-head px-2 pt-3">
                                <a href="#" class="text-dark text-center">
                                    <h2 class="card-title">{{article.title}}</h2>
                                </a>
                                <div class="d-flex justify-content-between px-2">
                                    <p><small>posted by: {{article.user.name}}</small></p>
                                    <p><small>{{dateformat(article.updated_at)}}</small></p>
                                </div>

                            </div>
                            <img class="card-img-top" v-bind:src="article.featured_image" alt="Card image cap">
                            <div class="card-body">


                                <p class="card-text">{{
                                    article.content}}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-dark" href="#">Artikel</a>
                                <a class="btn btn-dark" href="#">Biodata</a>
                                <a class="btn btn-dark" href="#">fiksi</a>
                                <a class="btn btn-dark" href="#">teknologi</a>

                            </div>
                        </div>
                    </div>
                </div>
                </br>
                </br>
            </container>

        </template>

        <template v-if="showAll">
            <container>
                <div class="row">
                    <div class="col-8 mx-auto mb-30" style="width:40rem;">
                        <div class="card">
                            <div class="card-head px-2 pt-3">

                            </div>
                            <div class="card-body my-3" v-for="(article) in articles">
                                <a href="#" class="text-dark" @click="readArticle(article._id)">
                                    <h1 class="card-title">{{article.title}}</h1>
                                </a>
                                <div class="d-flex justify-content-between px-2">
                                    <p><small>posted by: {{article.user.name}}</small></p>
                                    <p><small>{{timeago(article.created_at)}}</small></p>
                                </div>
                                <p class="card-text">{{article.content.substr(0,250)}} <a href="#"
                                        @click="readArticle(article._id)">readmore</a>
                                </p>
                            </div>
                            <div class="card-footer">


                            </div>
                        </div>
                    </div>
                </div>
                </br>
                </br>
            </container>

        </template>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./vuewswyg/vueWysiwyg.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/index.js"></script>

</body>

</html>